# 🚫 Archivos y carpetas comunes a ignorar

# node_modules global (en caso de error)
node_modules/

# carpetas de build de Vite (por cliente)
**/dist/

# variables de entorno
.env
.env.local

# archivos de sistema macOS
.DS_Store

# logs
*.log

# configuración del editor
.vscode/

# configuración de dependencias de containers
.devcontainer/

# archivos swap o temporales
*.swp
*.tmp
*~

# backups
*.bak

# caches de lint o herramientas
.eslintcache
stylelint.cache